h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

blockquote blockquote { max-width: 80%; word-wrap: break-word; white-space: normal; }

.reply blockquote, blockquote :last-child { max-width: 80%; word-wrap: break-word; white-space: normal; }

.delform {
    display: inline;
    margin: 0;
    padding: 0;
}
.delform input {
    display: inline;
}

.deleted {
    color: #707070;
}