h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

blockquote blockquote {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    padding: 2px;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 40px;
    margin-right: 40px;
}


.delform {
    display: inline;
    margin: 0;
    padding: 0;
}
.delform input {
    display: inline;
}

.deleted {
    color: #707070;
}

.reply-table {
    display: block;
}

.reply {
    display: table;
}