<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Config.Site.Title}} - /{{.Board.ShortName}}/</title>
    <link rel="stylesheet" href="/@/style.css">
    <link rel="stylesheet" href="/@/custom.css">
</head>
<body>
<div class="banner logo">
    <div class="site title"><h1><span class="reflink"><a href="/{{.Board.ShortName}}/board.html">/{{.Board.ShortName}}/</a></span></h1></div>
    <div class="site description"><h2>{{.Board.LongName}}</h2></div>
    <div class="site thread"><h3>{{.Thread.ID}}</h3></div>
</div>
{{ $boardlink := .Board.ShortName }}
<hr />
{{ template "thread/post" . }}
{{ template "thread/postlists" . }}
</body>
</html>